name: setup-helmfile

on:
    pull_request:
        types:
            - opened

    push:

jobs:
    setup-skaffold:
        name: Setup Helmfile

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6.0.1

            - uses: ./

              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}

            - run: helmfile help

            - run: helm env
